h1{
    font-size:100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color:rgb(14, 115, 14);
    padding:50px 30px 50px 80px;
    
}
p{
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#summary>p{
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
    width: 300px;        
    height: auto;        
    border: 2px solid #000; 
    border-radius: 10px; 
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
a {
text-align: center;
text-decoration: none;
color:rgb(75, 112, 19)
}
ol{
    list-style: upperroman;
    margin-left: 30px;
}
body{
     background-color:rgb(182, 224, 182); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}
table{
    border:3px solid #000;
    border-collapse:collapse;
}
th, td {
border: 1px solid #000;
}
th:hover{
    color:green;
    cursor:pointer;
}
footer{
    padding:50px 30px 50px 80px;
}
input[type="submit"]{
border: none;
background-color: #4a8052;
margin-left: 300px;
padding-top: 20px;
padding-bottom: 20px;
padding-left:20px;
padding-right:20px;
font-size:20px;
font-family:inherit;
font-style:italic;
}
input[type="text"],input[type="email"]
{
border: none;
background-color: #99d7a2;
}
input[type="text"]:focus{
    background-color: #d1e6d4;
}
input[type="email"]:focus{
    background-color: #d1e6d4;
}
textarea{
    background-color: #99d7a2;
}
#summary p{
    text-align:center;
    text-decoration:underline;
    font-weight: bold;
}
li a:hover{
    color:rgb(16, 3, 3);
    cursor: pointer;
}
tr:nth-child(odd){
    background-color:#4a8052;
}
tr:nth-child(even){
    background-color:#7cf28e;
}
textarea:focus {
    border:2px solid #0a0c0a;
    background-color: d1e6d4;
}
#img1{
    float:left;
}